body{
    font-family: 'Courier New', Courier, monospace;
}

hr{
    width: 48%;
    float: left;
}

.container{
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.container h1{
    text-align: center;
}

.container h2{
    text-align: center;
}

.footer{
    width: 100%;
    height: 7%;
    background-color: black;
}

.banner{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 15%;

}

.columns{
    width: 100%;
    height: auto;

    float: left;
    display: inline;
}

.col1_left{
    width: 49%;
    height: auto;
    float: left;

}

.col1_left p{
    text-align: right;
    margin-right: 1em;
    font-weight: bold;
}

.col2_rigth{
    width: 49%;
    height: auto;
    float: left;
}

.col2_rigth p{
    text-align: right;
    margin-left: 1em;;
}

.img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 8%;
}